/* Base Application Styles */
body 
  color: #333;
  background: #fff;


.stage 
  padding:10px
  background: #999
  img 
    margin: 40px auto;
    border-radius: 4px;
    background: #fff;
    display: block;
  .react_name
    height: 45px;
    display: -webkit-box;
    -webkit-box-align: center;
    background: #edf1f5;
    padding-left: 10px;
    // margin-top: 10px;
    box-sizing: border-box
    cursor: pointer